In [15]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine, text

engine = create_engine("postgresql+psycopg2://marketing_user:marketing_pass@localhost:5432/marketing_attribution")

web_events = pd.read_sql("SELECT * FROM web_events", engine)

conversions = pd.read_sql("SELECT * FROM conversions", engine)

print("web_events:", web_events.shape)
print("conversions:", conversions.shape)

web_events.head(), conversions.head()

web_events: (15232, 5)
conversions: (4, 4)

(  user_id session_id                 timestamp event_type      source_medium
 0      u1   38670bf2 2025-10-24 18:55:00+00:00      visit  paid search / cpc
 1      u1   fd41c8d4 2025-11-04 20:14:00+00:00      visit   organic / search
 2      u1   d6505d22 2025-11-07 18:47:00+00:00      visit      social / paid
 3      u2   5d4b928d 2025-10-09 12:31:00+00:00      visit   organic / search
 4      u2   33f6acf7 2025-11-03 18:55:00+00:00      visit  paid search / cpc,
   user_id           conversion_time order_id  revenue
 0     u26 2025-12-24 23:57:00+00:00  o200001    80.10
 1   u1054 2025-11-13 21:25:00+00:00  o200002   113.64
 2   u1465 2025-11-30 11:03:00+00:00  o200003    88.97
 3   u3556 2025-10-14 13:02:00+00:00  o200004    87.05)

In [16]:
def map_channel(sm):
    sm = sm.lower()
    if "paid search" in sm:
        return "Paid Search"
    elif "social" in sm:
        return "Social"
    elif "email" in sm:
        return "Email"
    elif "display" in sm:
        return "Display"
    elif "organic" in sm:
        return "Organic"
    else:
        return "Other"

web_events["channel"] = web_events["source_medium"].apply(map_channel)
web_events["timestamp"] = pd.to_datetime(web_events["timestamp"])
conversions["conversion_time"] = pd.to_datetime(conversions["conversion_time"])

In [17]:
web_events = web_events.sort_values(["user_id", "timestamp"])

paths = []

for _, conv in conversions.iterrows():
    user = conv["user_id"]
    conv_time = conv["conversion_time"]
    revenue = conv["revenue"]
    order_id = conv["order_id"]
    
    user_events = web_events[
        (web_events["user_id"] == user) &
        (web_events["timestamp"] <= conv_time)
    ].sort_values("timestamp")
    
    touchpoints = user_events["channel"].tolist()
    
    if len(touchpoints) > 0:
        paths.append({
            "order_id": order_id,
            "user_id": user,
            "revenue": revenue,
            "touchpoints": touchpoints
        })

paths_df = pd.DataFrame(paths)
paths_df.head()

  order_id user_id  revenue                                       touchpoints
0  o200001     u26    80.10      [Display, Social, Organic, Organic, Organic]
1  o200002   u1054   113.64           [Paid Search, Paid Search, Paid Search]
2  o200003   u1465    88.97  [Organic, Paid Search, Paid Search, Paid Search]
3  o200004   u3556    87.05                       [Organic, Organic, Organic]

In [18]:
first_touch = {}

for _, row in paths_df.iterrows():
    channel = row["touchpoints"][0]
    first_touch[channel] = first_touch.get(channel, 0) + row["revenue"]

first_touch_df = pd.DataFrame(first_touch.items(), columns=["channel", "first_touch_revenue"])
first_touch_df

       channel  first_touch_revenue
0      Display                80.10
1  Paid Search               113.64
2      Organic               176.02

In [19]:
last_touch = {}

for _, row in paths_df.iterrows():
    channel = row["touchpoints"][-1]
    last_touch[channel] = last_touch.get(channel, 0) + row["revenue"]

last_touch_df = pd.DataFrame(last_touch.items(), columns=["channel", "last_touch_revenue"])
last_touch_df

       channel  last_touch_revenue
0      Organic              167.15
1  Paid Search              202.61

In [20]:
linear = {}

for _, row in paths_df.iterrows():
    channels = row["touchpoints"]
    revenue_share = row["revenue"] / len(channels)
    
    for ch in channels:
        linear[ch] = linear.get(ch, 0) + revenue_share

linear_df = pd.DataFrame(linear.items(), columns=["channel", "linear_revenue"])
linear_df

       channel  linear_revenue
0      Display         16.0200
1       Social         16.0200
2      Organic        157.3525
3  Paid Search        180.3675

In [21]:
time_decay = {}

for _, row in paths_df.iterrows():
    channels = row["touchpoints"]
    n = len(channels)
    
    # exponential decay weights
    weights = np.array([0.5 ** (n - i - 1) for i in range(n)])
    weights = weights / weights.sum()
    
    for ch, w in zip(channels, weights):
        time_decay[ch] = time_decay.get(ch, 0) + row["revenue"] * w

time_decay_df = pd.DataFrame(time_decay.items(), columns=["channel", "time_decay_revenue"])
time_decay_df

       channel  time_decay_revenue
0      Display            2.583871
1       Social            5.167742
2      Organic          165.329720
3  Paid Search          196.678667

In [22]:
attribution_df = first_touch_df \
    .merge(last_touch_df, on="channel", how="outer") \
    .merge(linear_df, on="channel", how="outer") \
    .merge(time_decay_df, on="channel", how="outer")

attribution_df.fillna(0, inplace=True)

attribution_df.sort_values("last_touch_revenue", ascending=False)

,channel,first_touch_revenue,last_touch_revenue,linear_revenue,time_decay_revenue
2,Paid Search,113.64,202.61,180.3675,196.678667
1,Organic,176.02,167.15,157.3525,165.329720
0,Display,80.10,0.00,16.0200,2.583871
3,Social,0.00,0.00,16.0200,5.167742

In [23]:
attribution_df.to_csv("../data/processed/attributed_revenue_by_model.csv", index=False)
print("Exported attribution results")

Exported attribution results

In [12]:
## Budget Reallocation Simulation

In [27]:
from sqlalchemy import text
import pandas as pd
import numpy as np

sql = text("""
WITH events_clean AS (
    SELECT
        user_id,
        timestamp,
        CASE
            WHEN LOWER(source_medium) LIKE 'paid search%' THEN 'Paid Search'
            WHEN LOWER(source_medium) LIKE 'social%' THEN 'Social'
            WHEN LOWER(source_medium) LIKE 'email%' THEN 'Email'
            WHEN LOWER(source_medium) LIKE 'display%' THEN 'Display'
            WHEN LOWER(source_medium) LIKE 'organic%' THEN 'Organic'
            ELSE 'Other'
        END AS channel
    FROM web_events
),
last_touch_orders AS (
    SELECT
        c.order_id,
        c.revenue,
        e.channel
    FROM conversions c
    JOIN LATERAL (
        SELECT channel
        FROM events_clean we
        WHERE we.user_id = c.user_id
          AND we.timestamp <= c.conversion_time
        ORDER BY we.timestamp DESC
        LIMIT 1
    ) e ON TRUE
),
revenue_by_channel AS (
    SELECT channel, SUM(revenue) AS total_revenue
    FROM last_touch_orders
    GROUP BY 1
),
spend_by_channel AS (
    SELECT channel, SUM(spend) AS total_spend
    FROM campaign_spend
    GROUP BY 1
)
SELECT
    s.channel,
    s.total_spend,
    COALESCE(r.total_revenue,0) AS total_revenue
FROM spend_by_channel s
LEFT JOIN revenue_by_channel r
ON s.channel = r.channel
""")

with engine.connect() as conn:
    kpi_df = pd.read_sql_query(sql, conn)

kpi_df = kpi_df[kpi_df["channel"] != "Other"]
kpi_df["roas"] = np.where(
    kpi_df["total_spend"] > 0,
    kpi_df["total_revenue"] / kpi_df["total_spend"],
    np.nan
)

kpi_df.sort_values("roas", ascending=False)

       channel  total_spend  total_revenue      roas
1      Organic      6042.95         167.15  0.027660
3  Paid Search    141058.36         202.61  0.001436
0      Display     73855.30           0.00  0.000000
2        Email     19847.08           0.00  0.000000
4       Social     93038.56           0.00  0.000000

In [28]:
simulation = kpi_df.copy()

shift_pct = 0.10
from_channel = "Display"
to_channel = "Paid Search"

shift_amount = simulation.loc[simulation.channel == from_channel, "total_spend"].values[0] * shift_pct

simulation.loc[simulation.channel == from_channel, "total_spend"] -= shift_amount
simulation.loc[simulation.channel == to_channel, "total_spend"] += shift_amount

simulation["expected_revenue"] = simulation["total_spend"] * simulation["roas"]

baseline_total = kpi_df["total_revenue"].sum()
sim_total = simulation["expected_revenue"].sum()
lift_pct = (sim_total - baseline_total) / baseline_total

print("Shift amount:", round(shift_amount, 2))
print("Baseline revenue:", round(baseline_total, 2))
print("Simulated revenue:", round(sim_total, 2))
print("Expected lift %:", round(lift_pct * 100, 2), "%")

Shift amount: 7385.53
Baseline revenue: 369.76
Simulated revenue: 380.37
Expected lift %: 2.87 %

In [29]:
import os
os.makedirs("../data/processed", exist_ok=True)
simulation.to_csv("../data/processed/budget_simulation.csv", index=False)
print("Saved budget_simulation.csv")

Saved budget_simulation.csv